<section class="about" id="about" data-aos="fade-down" data-aos-duration="3000">
  <div class="container">
    <h2 class="about_title title">МЫ</h2>
    <div class="about_description description">
      <p>
        QALAB - творческое объединение музыкантов с пространства всего СНГ. Для исполнителей - это место творческой силы, и первая настоящая точка роста в музыкальной карьере.
      </p>
      <p>
        Каждый творческий человек найдет в QALAB не только финансовую
        и маркетинговую поддержку, но и целое сообщество единомышленников. Начиная от национальности, заканчивая своими музыкальными предпочтениями - все исполнители имеют свой индивидуальный образ
        и бэкграунд. Но в этом и сила объединения QALAB - разность мышления позволяет творить поистине душевную, живую и актуальную музыку.
      </p>
      <p>С точки зрения метафоры QALAB предстает современным домом дружбы народов, под крышей которого собрались самые разные исполнители. Независимо от жанра и культурного наследия все музыканты здесь - большая дружная семья.</p>
    </div>
    <div class="about_group">
      <div class="about_group_image">
        <img src="img/about_qalab.png" alt="about_img" class="about_image">
      </div>
      <p>МУЛЬТИКУЛЬТУРНОСТЬ ПРАВИЛЬНОЕ ЗВУЧАНИЕ СВОБОДА ТВОРЧЕСТВА</p>
    </div>
  </div>
  <img src="img/about_top.png" alt="about_top" class="about_top">
</section>
