<section class="artist" id="artist" data-aos="fade-down" data-aos-duration="3000">
  <div class="container">
    <h2 class="artist_title title">Артисты</h2>
    <h3 class="artist_subtitle">Так звучат таланты</h3>
    <div class="artist_carts slider">

      <div class="artist_item">
        <p class="artist_name">Ния</p>
        <picture>
          <source srcset="./img/artist/artist_1.webp" type="image/webp">
          <img loading="lazy" src="./img/artist/artist_1.jpg" class="artist_image" alt="artist">
        </picture>
      </div>

      <div class="artist_item">
        <p class="artist_name">Damir Frank</p>
        <picture>
          <source srcset="./img/artist/artist_2.webp" type="image/webp">
          <img loading="lazy" src="./img/artist/artist_2.jpg" class="artist_image" alt="artist">
        </picture>
      </div>

      <div class="artist_item">
        <p class="artist_name">Six o</p>
        <picture>
          <source srcset="./img/artist/artist_3.webp" type="image/webp">
          <img loading="lazy" src="./img/artist/artist_3.jpg" class="artist_image" alt="artist">
        </picture>
      </div>



    </div> <!--artist_carts-->
  </div>
</section>
