<section class="creation" id="creation" data-aos="fade-down" data-aos-duration="3000">>
  <div class="container" >
    <h2 class="creation_title title">ТВОРЧЕСТВО</h2>
    <h3 class="creation_subtitle">Увидимся в чартах</h3>

    <div class="audio_wrapper">

      <div class="creation_audio">

        <div class="audio_item audio_item--1">
          <img src="img/creation/creation_1.jpg" alt="creation" class="audio_img">
          <span class="audio_name">Damir Frank - Друг у друга</span>
          <audio class="audio--1" src="./blood_sweat_no_tears.mp3"></audio>
          <button class="audio_btn audio_btn--1"></button>
        </div>

        <div class="audio_item audio_item--2">
          <img src="img/creation/creation_2.jpg" alt="creation" class="audio_img">
          <span class="audio_name">Damir Frank x Stels Travoltah - QALAB</span>
          <audio class="audio--2" src="./bloody_tears.mp3"></audio>
          <button class="audio_btn audio_btn--2"></button>
        </div>

        <div class="audio_item audio_item--3 audio_item_mb">
          <img src="img/creation/creation_3.jpg" alt="creation" class="audio_img">
          <span class="audio_name">Diazz & Damir Frank - Джанна</span>
          <audio class="audio--3" src="./atlantis_rage.mp3"></audio>
          <button class="audio_btn audio_btn--3"></button>
        </div>

        <div class="audio_item audio_item--social">
          <img src="img/creation/creation_4.jpg" alt="creation" class="audio_img">
          <span class="audio_name audio_name--social">Слушайте в VK Музыке</span>
        </div>

        <div class="audio_item audio_item--social">
          <img src="img/creation/creation_5.jpg" alt="creation" class="audio_img">
          <span class="audio_name audio_name--social">Слушайте в Spotify</span>
        </div>

        <div class="audio_item audio_item--social">
          <img src="img/creation/creation_6.jpg" alt="creation" class="audio_img">
          <span class="audio_name audio_name--social">Слушайте в Яндекс.Музыке</span>
        </div>

      </div>

<!--      <div class="creation_video">-->
<!--        <div class="video_wrapper">-->
<!--          <iframe src="https://www.youtube.com/embed/-xLEqatjemM?controls=0&amp;start=21" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>-->
<!--        </div>-->
<!--      </div>-->

    </div>

  </div>
</section>
