<section class="project" id="project" data-aos="fade-down" data-aos-duration="3000">
  <img src="img/project_figure_left.png" alt="figure" class="project_figure_left">
  <img src="img/project.png" alt="project_bg" class="project_bg">
  <div class="container">

    <h2 class="project_title title">QALABARATION</h2>
    <div class="project_description">
      <p class="project_description--item description">Музыкальный турнир формата реалити-шоу, где более 20-ти талантливых музыкантов, отобранных из разных регионов страны, поборятся за денежный приз в размере
        10 миллионов тенге и получат возможность вступить в ряды QALAB int.</p>
      <p class="project_description--item description">Наша цель - найти новые таланты, помочь им раскрыться и занять свое место
        в казахстанском шоубизнесе.</p>
    </div>

    <div class="project_btn_wrapper">

      <a href="#/">
        <button class="project_btn project_btn--left"></button>
      </a>
      <a href="#/">
        <button class="project_btn project_btn--hashtag"></button>
      </a>
      <span class="project_hashtag project_hashtag--1">#настоящие эмоции</span>
      <span class="project_hashtag project_hashtag--2">#честное мнение</span>
      <span class="project_hashtag project_hashtag--3">#открытое голосование</span>

    </div>

  </div>
</section>
